h2{
 
  text-align: center;
}



#tareas{
  min-height: 500px;
  border: 2px solid black;
}
main{
  width: 1000px;

}
.contador-de-tareas{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.contnedor{
  display: flex;
  align-items: center;
  justify-content: space-between;
}