.ciruclo{
    height: 60px;
    width: 60px;
    margin-left: 80%;
    margin-top: -50%;
    border-radius: 50px;
}
h2{
    text-align: center;
    
}

.formu{
  margin-left: 470px ;
  margin-bottom: -25px ;
}